// В этом файле должны быть стили для БЭМ-блока screen, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.screen {
  // position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  overflow: hidden;
}

@media (max-width: $breakpoint-tablet-lg) {

  .screen {
    height: 97vh;
  }
}
