//- Все примеси в этом файле должны начинаться c имени блока (steps)

mixin steps(text, mods)

  //- Принимает:
  //-   text    {string} - текст
  //-   mods    {string} - список модификаторов
  //- Вызов:
        +steps('Текст', 'some-mod')

  -
    // список модификаторов
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' steps--' + modsList[i].trim();
      }
    }

  .steps(class=allMods)&attributes(attributes)
    ul.steps__list
      li.steps__item
        .steps__icon
          img(src='../img/icon-step1.svg', alt='step1')
        p.steps__description Шукай коди <br> під кришечками <br> акційних упаковок «Садочок»
      li.steps__item
        .steps__icon
          img(src='../img/icon-step2.svg', alt='step2')
        p.steps__description Реєструй код на сайті чи відправ на номер
      li.steps__item
        .steps__icon
          img(src='../img/icon-step3.svg', alt='step3')
        p.steps__description Вигравай <br> подарунки для себе чи ділися з близькими
      li.steps__item
        .steps__icon
          img(src='../img/icon-step4.svg', alt='step4')
        p.steps__description Вигравай <br> 100 000 гривень на заповітну мрію
