//- Все примеси в этом файле должны начинаться c имени блока (steps)

mixin steps(text, mods)

  //- Принимает:
  //-   text    {string} - текст
  //-   mods    {string} - список модификаторов
  //- Вызов:
        +steps('Текст', 'some-mod')

  -
    // список модификаторов
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' steps--' + modsList[i].trim();
      }
    }

  .steps(class=allMods)&attributes(attributes)
    ul.steps__list
      li.steps__item
        .steps__number <span>1</span>
        p.steps__description Шукай коди <br> під кришечками <br> акційних упаковок <br> «Садочок»
      li.steps__item
        .steps__number <span>2</span>
        p.steps__description Реєструй код <br> на сайті <br> чи відправ <br> на номер <span class="steps__phone">3200</span>
      li.steps__item
        .steps__number <span>3</span>
        p.steps__description Вигравай <br> подарунки для <br> себе чи ділися <br> з близькими
      li.steps__item
        .steps__number <span>4</span>
        p.steps__description Вигравай <br> 100 000 гривень <br> на заповітну мрію
