// В этом файле должны быть стили для БЭМ-блока steps, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.steps {
  display: flex;
  flex-direction: column;
  justify-content: center;

  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;

  height: 166px;
  padding-top: 40px;

  background-image: url('../img/bg-steps.png');
  background-repeat: no-repeat;
  background-size: cover;

  &__list {
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin: 0 auto;
    padding: 0;

    list-style: none;
  }

  &__item {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;

    margin-right: 35px;
  }

  &__number {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;

    width: 75px;
    height: 75px;
    margin-right: 20px;
    border: 10px solid #fbda00;

    color: #93ce20;
    font-size: 43px;
    font-weight: 900;

    background-color: $white;
    border-radius: 50%;
  }

  &__description {
    margin: 0;

    font-size: 22px;
    line-height: 21px;
  }
}

@media (max-width: $screen-xxl) {

  .steps__list {
    width: 90%;
  }
}
