// В этом файле должны быть стили для БЭМ-блока main-screen, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.main-screen {
  position: relative;

  background-image: url('../img/bg-main-screen.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
