// В этом файле должны быть стили для БЭМ-блока main-screen, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.main-screen {
  position: relative;

  background-image: url('../img/background.jpg');
  background-repeat: no-repeat;
  background-size: cover;

  &__inner {
    position: relative;

    width: 774px;
    height: 100%;
    margin: 0 auto;
  }

  &__logo {
    display: block;
    width: 850px;
    margin: 0 auto;
  }

  &__title {
    display: block;
    margin: 0 auto;
  }

  &__btn {
    display: table;
    margin: 0 auto;
    margin-top: -25px;
  }

  &__leave-1 {
    position: absolute;
    top: -1%;
    left: -2%;

    width: 12%;
  }

  &__leave-2 {
    position: absolute;
    top: 0;
    left: 17%;

    width: 29%;
  }

  &__leave-3 {
    position: absolute;
    top: 0;
    left: 47%;

    width: 15%;
  }

  &__leave-4 {
    position: absolute;
    top: 0;
    left: 55%;

    width: 27%;
  }

  &__leave-5 {
    position: absolute;
    top: 0;
    left: 82%;

    width: 25%;
  }

  &__leave-6 {
    position: absolute;
    top: 0;
    right: -18%;

    width: 35%;
  }

  &__footer {
    position: absolute;
    bottom: 0;
    left: 0;

    width: 100%;
    height: 230px;

    background-image: url('../img/table.jpg');
    background-repeat: no-repeat;
    background-position: 0 -9px;
    background-size: 100% 160%;
  }

  &__juice {
    position: absolute;
    z-index: 1;
    bottom: 57%;
    left: 5%;

    width: 600px;
  }

  &__sticker {
    position: absolute;
    z-index: 1;
    top: -120%;
    left: 15%;
  }

  &__hedgehog {
    position: absolute;
    z-index: 1;
    right: 5%;
    bottom: 40%;
  }
}

@media (max-width: $screen-xxl) {

  .main-screen__juice {
    left: 1%;
  }

  .main-screen__sticker {
    left: 10%;
  }

  .main-screen__hedgehog {
    right: 1%;
  }
}

@media (max-width: $breakpoint-medium) {

  .main-screen__logo {
    width: 650px;
  }

  .main-screen__title {
    width: 400px;
  }

  .main-screen__btn {
    margin-top: 0;
    padding-left: 40px;
    padding-right: 60px;

    font-size: 26px;

    background-size: 30px;
    border-width: 6px;
  }

  .main-screen__juice {
    bottom: 66%;
    left: 1%;

    width: 454px;
  }

  .main-screen__sticker {
    top: -80%;
    left: 12%;

    width: 260px;
  }

  .main-screen__hedgehog {
    right: 1%;
    bottom: 50%;

    width: 400px;
  }
}

@media (max-width: $breakpoint-tablet-lg) {

  .main-screen {
    height: 100%;
  }

  .main-screen__inner {
    width: auto;
    padding-top: 40px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .main-screen__logo {
    width: 600px;
  }

  .main-screen__btn {
    font-size: 16px;

    background-size: 20px;
  }

  .main-screen__juice {
    top: -280px;
    left: 0;

    width: 450px;
  }

  .main-screen__sticker {
    top: -90px;
    left: 150px;

    width: 250px;
  }

  .main-screen__hedgehog {
    top: -180px;
    width: 370px;
  }

  .main-screen__footer {
    position: relative;

    margin-top: 300px;
  }
}

@media (max-width: $screen-md) {

  .main-screen__inner {
    width: auto;
    padding-top: 40px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .main-screen__logo {
    width: 600px;
  }

  .main-screen__btn {
    font-size: 16px;

    background-size: 20px;
  }

  .main-screen__juice {
    top: -220px;
    left: 0;

    width: 370px;
  }

  .main-screen__sticker {
    top: -30px;
    left: 150px;

    width: 170px;
  }

  .main-screen__hedgehog {
    top: -150px;
    width: 270px;
  }

  .main-screen__footer {
    position: relative;

    height: 200px;
    margin-top: 240px;
  }
}

@media (max-width: $breakpoint-phone-lg) {

  .main-screen__inner {
    width: auto;
    padding-top: 40px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .main-screen__logo {
    width: 600px;
  }

  .main-screen__btn {
    font-size: 16px;

    background-size: 20px;
  }

  .main-screen__juice {
    top: -140px;
    left: 0;

    width: 280px;
  }

  .main-screen__sticker {
    top: -20px;
    left: 100px;

    width: 150px;
  }

  .main-screen__hedgehog {
    top: -100px;
    width: 200px;
  }

  .main-screen__footer {
    position: relative;

    height: 150px;
    margin-top: 170px;
  }
}

@media (max-width: $screen-sm) {

  .main-screen__inner {
    width: auto;
    padding-top: 40px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .main-screen__logo {
    width: 600px;
  }

  .main-screen__btn {
    font-size: 16px;

    background-size: 20px;
  }

  .main-screen__juice {
    top: -120px;
    left: 0;

    width: 200px;
  }

  .main-screen__sticker {
    top: -40px;
    left: 70px;

    width: 120px;
  }

  .main-screen__hedgehog {
    top: -70px;
    width: 150px;
  }

  .main-screen__footer {
    position: relative;

    height: 120px;
    margin-top: 170px;
  }
}


