//- Все примеси в этом файле должны начинаться c имени блока (main-screen)

mixin main-screen(text, mods)

  //- Принимает:
  //-   text    {string} - текст
  //-   mods    {string} - список модификаторов
  //- Вызов:
        +main-screen('Текст', 'some-mod')

  -
    // список модификаторов
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' main-screen--' + modsList[i].trim();
      }
    }

  .main-screen(class=allMods)&attributes(attributes)
    img.main-screen__leave-1(src='../img/leave-1.png', alt='leave-1')
    img.main-screen__leave-2(src='../img/leave-2.png', alt='leave-2')
    img.main-screen__leave-3(src='../img/leave-3.png', alt='leave-3')
    img.main-screen__leave-4(src='../img/leave-4.png', alt='leave-4')
    img.main-screen__leave-5(src='../img/leave-5.png', alt='leave-5')
    img.main-screen__leave-6(src='../img/leave-6.png', alt='leave-6')
    .main-screen__inner
      img.main-screen__logo(src='../img/logo--action.png', alt='logo')
      img.main-screen__title(src='../img/main-screen__title.png', alt='title')
      +btn('Реєструй код').main-screen__btn
    footer.main-screen__footer
      img.main-screen__juice(src='../img/juice.png', alt='juice')
      .main-screen__sticker: img(src='../img/sticker.svg', alt='sticker', width='377', height='329')
      img.main-screen__hedgehog(src='../img/hedgehog.png', alt='hedgehog')
      block steps
