//- Все примеси в этом файле должны начинаться c имени блока (family)

mixin family(text, mods)

  //- Принимает:
  //-   text    {string} - текст
  //-   mods    {string} - список модификаторов
  //- Вызов:
        +family('Текст', 'some-mod')

  -
    // список модификаторов
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' family--' + modsList[i].trim();
      }
    }

  .family#js-scroll-family(class=allMods)&attributes(attributes)
    .family__logo: img(src='../img/logo--leaves.png', alt='logo')
    .family__inner
      p.family__text ЗДІЙСНЮЙ <br> МАЛЕНЬКІ БАЖАННЯ <br> І ЗАПОВІТНІ МРІЇ <br> СВОЇХ РІДНИХ!
      ul.family__list
        li.family__item Прояви турботу до рідних – надішли їм подарунок та кілька теплих слів.
        li.family__item Реєструй код з-під кришечок акційних упаковок «Садочок» – кожен із них виграшний.
        li.family__item Отримай подарунок сам, або ж ми відправимо його вказаному адресату з твоїми вітаннями.
        li.family__item Деталі в офіційних правилах та в <br> особистому кабінеті
    footer.family__footer
      img.family__juices(src='../img/juices.png', alt='')
      .family__sticker: img(src='../img/sticker.svg', alt='sticker', width='377', height='329')
