// В этом файле должны быть стили для БЭМ-блока family, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.family {
  position: relative;
  z-index: 9;

  padding-top: 320px;

  background-image: url('../img/background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 -100px;

  &__arrow {
    position: absolute;
    top: 0;
    left: 50%;

    width: 36px;
    transform: translateX(-50%);
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
  }

  &__text {
    width: 27%;

    font-size: 36px;
    text-shadow: 10.9px 13px 29px rgba(0, 0, 0, 0.75);
    line-height: 45px;
    text-align: right;
  }

  &__list {
    width: 34%;
    margin: 0;
    padding: 0;

    list-style: none;
  }

  &__item {
    position: relative;

    padding-bottom: 30px;

    font-size: 22px;
    text-shadow: 0 0 30px rgba(0, 0, 0, 1);

    &::after {
      content: '';
      position: absolute;
      bottom: 7%;
      left: 0;

      width: 15px;
      height: 15px;

      background-color: #fbdb00;
      border-radius: 50%;
      border: 3px solid $white;
    }

    &:last-child::after {
      display: none;
    }
  }

  &__logo {
    position: absolute;
    top: -12%;
    left: 4%;
  }

  &__footer {
    position: absolute;
    bottom: 0;
    left: 0;

    width: 100%;
    height: 200px;

    background-image: url('../img/table.jpg');
    background-repeat: no-repeat;
    background-position: center -9px;
    background-size: 100% 160%;
  }

  &__juices {
    position: absolute;
    top: -500px;
    left: 50%;

    width: 750px;

    transform: translateX(-50%);
  }

  &__sticker {
    position: absolute;
    top: -230px;
    left: 45%;

    width: 360px;
  }
}

@media (max-height: 960px) {

  .family {
    padding-top: 200px;
  }

  .family__logo {
    width: 300px;
  }

  .family__footer {
    height: 170px;
  }
}


@media (max-height: 768px) {

  .family {
    padding-top: 150px;
  }

  .family__logo {
    width: 250px;
  }

  .family__footer {
    height: 170px;
  }
}

@media (max-width: $breakpoint-large) {

  .family__inner {
    width: 95%;
  }

  .family__text {
    padding-right: 100px;

    font-size: 26px;
  }

  .family__list {
    padding-left: 100px;
  }
}

@media (max-width: $breakpoint-medium) {

  .family__text {
    padding-right: 50px;

    font-size: 26px;
  }

  .family__list {
    padding-left: 100px;
  }
}

@media (max-width: $breakpoint-tablet-lg) {

  .family {
    z-index: 5;

    margin-top: -30px;
    padding-top: 100px;
  }

  .family__arrow {
    display: none;
  }

  .family__logo {
    display: none;
  }

  .family__inner {
    flex-wrap: wrap;
    width: auto;
    padding-left: 20px;
    padding-right: 20px;
  }

  .family__text {
    width: auto;

    text-align: left;
  }

  .family__list {
    width: auto;
    padding-left: 0;
  }

  .family__item {
    padding-bottom: 0;

    &::after {
      display: none;
    }
  }

  .family__footer {
    position: relative;

    height: 150px;
    margin-top: 270px;
  }

  .family__juices {
    top: -230px;
    left: 55%;

    width: 400px;
    min-width: 400px;
  }

  .family__sticker {
    top: -100px;

    width: 180px;
  }
}
