// В этом файле должны быть стили для БЭМ-блока family, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.family {
  position: relative;

  padding-top: 320px;

  background-image: url('../img/background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 -100px;

  &__inner {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
  }

  &__text {
    width: 27%;

    font-size: 36px;
    line-height: 45px;
    text-align: right;
  }

  &__list {
    width: 34%;
    margin: 0;
    padding: 0;

    list-style: none;
  }

  &__item {
    position: relative;

    padding-bottom: 30px;

    &::after {
      content: '';
      position: absolute;
      bottom: 7%;
      left: 0;

      width: 15px;
      height: 15px;

      background-color: #fbdb00;
      border-radius: 50%;
      border: 3px solid $white;
    }

    &:last-child::after {
      display: none;
    }
  }

  &__logo {
    position: absolute;
    top: -12%;
    left: 4%;
  }

  &__footer {
    position: absolute;
    bottom: 0;
    left: 0;

    width: 100%;
    height: 200px;

    background-image: url('../img/table.jpg');
    background-repeat: no-repeat;
    background-position: center -9px;
    background-size: 100% 160%;
  }

  &__juices {
    position: absolute;
    top: -500px;
    left: 50%;

    width: 750px;

    transform: translateX(-50%);
  }

  &__sticker {
    position: absolute;
    top: -230px;
    left: 45%;

    width: 360px;
  }
}
