extends ../pug/layout.pug

block meta
  title Главная
  meta(name='description', content='')

//- block append head
//-   link(rel='stylesheet', href='css/some.css')

block content
  +menu()
  +main-screen()(data-slide='1')
    block steps
      +steps()
  +prizes()(data-slide='2')
  +family()(data-slide='3')



//- block append page-bottom
//-   script(src='js/some.js')
