extends ../pug/layout.pug

block meta
  title Главная
  meta(name='description', content='')

//- block append head
//-   link(rel='stylesheet', href='css/some.css')

block content
  +menu()
  +main-screen.screen()
    +steps()
  +prizes.screen()
  +family.screen()



//- block append page-bottom
//-   script(src='js/some.js')
