// В этом файле должны быть стили для БЭМ-блока prizes, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.prizes {
  position: relative;

  padding-top: 320px;

  background-image: url('../img/background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 -100px;

  &__logo {
    position: absolute;
    top: -12%;
    left: 4%;
  }

  &__list {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;

    list-style: none;
  }

  &__item {
    position: relative;

    width: 200px;
    height: 200px;
    margin-right: 115px;

    border: 13px solid #fbdb00;
    border-radius: 50%;
    background-color: #ffffff;

    &:last-child {
      margin-right: 0;
    }
  }

  &__icon {
    position: relative;

    height: 100%;
    border-radius: 50%;


    overflow: hidden;
  }

  &__quantity {
    position: absolute;
    top: -10%;
    right: -25%;

    border: 13px solid $white;
    padding: 2px 10px;

    color: #db291a;
    font-size: 23px;
    font-weight: 900;

    background-color: #fbdb00;
    border-radius: 30px;
  }

  &__item--100000 &__quantity {
    padding-left: 28px;
    padding-right: 28px;
  }

  &__item img {
    position: absolute;
  }

  &__item--divantv img {
    top: 15%;
    left: 15%;
  }

  &__description {
    max-width: inherit;
  }

  &__item--divantv &__description {
    top: -150px;
    left: 0;
  }

  &__item--phone &__description {
    top: 130px;
    left: -30px;
  }

  &__item--rozetka &__description {
    top: -110px;
    left: 0;
  }

  &__item--100000 &__description {
    top: 150px;
    left: -25px;
  }

  &__item--phone img {
    top: 15%;
    left: 25%;
  }

  &__item--rozetka img {
    top: 15%;
    left: 20%;
  }

  &__item--100000 img {
    top: 20%;
    left: 20%;
  }

  &__footer {
    position: absolute;
    bottom: 0;
    left: 0;

    width: 100%;
    height: 170px;

    background-image: url('../img/table.jpg');
    background-repeat: no-repeat;
    background-position: 0 -100px;
    background-size: 100% 242%;
  }

  &__sticker {
    position: absolute;
    top: -198px;
    left: 173px;

    width: 300px;
  }

  &__text {
    position: absolute;
    top: -68%;
    left: 25%;
  }

  &__btn {
    position: absolute;
    top: 50%;
    right: 140px;
    transform: translateY(-50%);

    padding-top: 0;
    padding-bottom: 0;
    padding-left: 50px;

    color: $green;

    background-color: #fbdb00;
  }
}

@media (max-height: 960px) {

  .prizes {
    padding-top: 270px;
  }

  .prizes__logo {
    width: 250px;
  }

  .prizes__item {
    width: 150px;
    height: 150px;
  }

  .prizes__description {
    width: 290px;
  }

  .prizes__item--divantv .prizes__description {
    top: -110px;
  }

  .prizes__item--phone .prizes__description {
    top: 110px;
    left: -20px;
  }

  .prizes__item--rozetka .prizes__description {
    top: -90px;
  }

  .prizes__item--100000 .prizes__description {
    top: 116px;
  }

  .prizes__quantity {
    top: -16%;
    right: -39%;

    border: 7px solid $white;

    font-size: 18px;
  }

  .prizes__footer {
    height: 130px;

    background-size: 100% 300%;
  }

  .prizes__sticker {
    top: -160px;

    width: 240px;
  }

  .prizes__text {
    left: 23%;

    width: 510px;
  }

  .prizes__btn {
    font-size: 26px;

    border-width: 8px;
    background-size: 30px;
  }
}


@media (max-width: $breakpoint-large) {

  .prizes__text {
    left: 30%;
  }
}

@media (max-width: 1500px) {

  .prizes__text {
    left: 60%;
  }
}
